footer {
  border-top: 1px solid #30363d;
}

footer content {
  padding: 2.8rem 1.6rem 8rem;
  max-width: 115.2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer content div,
footer content a {
  font-size: 1.6rem;
  color: #c9d1d9;
}
