<main class="main">
  <div class="content">
    <h1>About Me</h1>
    <p>
      Hello, I am <strong>Nguyen Anh Khoa</strong>. I am currently a 4th year
      student majoring in Software Engineering at
      <strong>Saigon University</strong>.
    </p>
    <p>
      As a Software Engineering student, I am passionate about coding and
      solving problems. My goal is to become a <strong>.Net Developer</strong>.
    </p>
    <p><strong>Certificates</strong></p>
    <ul>
      <li>Foundational C# with Microsoft</li>
    </ul>
    <p><strong>Have knowledge of</strong></p>
    <ul>
      <li>
        <strong>Programming languages:</strong> C#, Java, JavaScript, C++,
        Python, PHP
      </li>
      <li>
        <strong>Frameworks: </strong>Bootstrap, ASP.NET Core MVC, ASP.NET Core
        Web API, Angular
      </li>
      <li>
        <strong>Other: </strong>HTML, CSS, JQuery, Git, Linux, MySQL, MS SQL
        Server
      </li>
    </ul>
    <p>I love .Net and still have a passion for the work I do. Keep going!</p>
    <p>March 2024</p>
  </div>
</main>
