.content {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10%;
  margin-bottom: 1.2em;
  font-size: 2rem;
  line-height: 1.8;
}

.content h1 {
  font-size: 1.92rem;
  margin-top: 0;
  margin-bottom: 0;
}

.content section {
  display: flex;
  gap: 1.6rem;
  margin-top: 0;
}

.content section a {
  color: #8b949e;
}

.content p {
  margin-top: 0;
}
